{{task-done class="task-done-input-container" checked=content.done action="done"}}

{{#if isEditing}}
  {{task-form content=content
              autofocus=true
              submit="didSubmitTask"
              cancel="didCancelTask"
              targetObject=targetObject}}
{{else}}
  <div class="task-content">
    <h3 class="task-label" {{action "editStart" on="click"}}>{{content.label}}</h3>
  </div>
  <footer class="task-footer">
    {{task-date createdAt=content.createdAt updatedAt=content.updatedAt}}
    <a href="#" {{action "delete" on="click"}}>delete</a>
  </footer>
{{/if}}
