<div class="task-form-content">
  {{textarea value=content.label class="task-label-textarea" maxlength=maxlength placeholder=placeholder autofocus=autofocus}}
  <span class="task-remaining_characters">
    {{remainingCharacters}}
  </span>
</div>

<footer class="task-form-footer">
  <div class="task-done">
    {{input id=doneInputId class="task-done-input" type="checkbox" checked=content.done}}
    <label class="task-done-label" {{bind-attr for=doneInputId}}>
      Done
    </label>
  </div>

  <div class="task-private">
    {{input id=privateInputId class="task-private-input" type="checkbox" checked=content.private}}
    <label class="task-private-label" {{bind-attr for=privateInputId}}>
      Private
    </label>
  </div>

  <div class="task-actions">
    <button class="task-cancel-button" {{action "cancel"}}>Cancel</button>
    <button class="task-save-button" {{action "submit"}}>Save</button>
  </div>
</footer>
